* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}
body {
  overflow-x: hidden;
  cursor: none;
}
.crsr {
  width: 2.2vw;
  height: 2.2vw;
  border: 1px solid #ffffff9d;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  z-index: 9999;
  padding: 10vw 7vw;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.txt-count {
  display: flex;
  gap: 1vw;
  margin-right: 5vw;
}
.txt-count h5,
h6 {
  font-size: 4vw;
  font-family: "Silk Serif";
  font-weight: 500;
}
.txt-count h5 {
  text-align: end;
  width: 7vw;
}
.txt h1 {
  font-family: "Plain";
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 7.5vw;
}
.txt h2 {
  font-family: "Plain";
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  animation-name: anime;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  line-height: 9vw;
  height: 9vw;
}

@keyframes anime {
  0% {
    font-family: "Plain";
    -webkit-text-stroke: 0.5px #fff;
    color: #fff;
  }
  47% {
    font-family: "Plain";
    -webkit-text-stroke: 0.5px #fff;
    color: #fff;
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
  }

  100% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
  }
}

#main {
  position: relative;
  background-color: black;
}
.page_1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}

.nav {
  padding: 2.5vw 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_part_2 {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.nav_part_2 h4 {
  font-family: "Plain";
  text-transform: capitalize;
  font-size: 0.9vw;
  font-weight: 300;
}
.site_info {
  padding: 5.5vw 27vw;
}
.hero {
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero h1,
.hero h2 {
  font-family: "Plain";
  text-transform: uppercase;
  font-size: 7.2vw;
  line-height: 8.5vw;
  font-weight: 500;
  position: relative;

  
}
.hero_3 h1:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
.page_2 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  padding: 8vw 30vw;
  position: relative;
}
.page_2 .container {
  height: 71vh;
  width: 69vw;
  position: relative;
}
.paly_button {
  height: 8.5vw;
  width: 8.5vw;
  background-color: #ffa63d;
  position: absolute;
  z-index: 8;
  border-radius: 50%;
  margin-top: -5%;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paly_button i {
  font-size: 1.6vw;
}
.container img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page_3{
  min-height: 100vh;
  width: 100%;
  background-color: #462121;
  position: relative;
}
.page_4{
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 5vh 0;
}
.brand_about{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Plain";
  position: relative;
  width: 72vw;
  margin-left: 28vw;
  padding-right: 5vw;
}
.brand_about h1{
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 500;
}
.brand_about .underline{
  width: 100%;
  height: 0.1vw;
  background-color: #fff;
  margin: 10vh 0;
}
.brand_about>p{
  font-size: 2vw;
  width: 32vw;
}
.brand_about .extend{
  width: 100%;
  display: flex;
  margin-top: 2vw;
  gap: 1vw;
}
.extend img{
  width: 34vw;
}
.extend p{
  width: 20%;
  font-size: 0.8vw;
}
.about_awards{
background-color: #3F7DF4;
width: 34vw;
height: 68vh;
padding:5vh 3vw;
position: relative;
bottom: 10vh;
right: -23vw;
}
.award{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 3.5vh 0;
}
.award h4{
 font-size: 1.5vw;
 font-weight: 500;
}
.award p{
  font-size: .85vw;
  font-weight: 500;
  width: 40%;
}
.brand_about .underline_2{
  width: 100%;
  height: 0.1vw;
  background-color: #fff;
  margin: 10vh 3vh 0;
}
