* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}
body {
  overflow-x: hidden;
  cursor: none;
}
.crsr {
  width: 2.2vw;
  height: 2.2vw;
  border: 1px solid #ffffff9d;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  z-index: 9999;
  padding: 10vw 7vw;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.txt-count {
  display: flex;
  gap: 1vw;
  margin-right: 5vw;
}
.txt-count h5,
h6 {
  font-size: 4vw;
  font-family: "Silk Serif";
  font-weight: 500;
}
.txt-count h5 {
  text-align: end;
  width: 7vw;
}
.txt h1 {
  font-family: "Plain";
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 7.5vw;
}
.txt h2 {
  font-family: "Plain";
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  animation-name: anime;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  line-height: 9vw;
  height: 9vw;
}

@keyframes anime {
  0% {
    font-family: "Plain";
    -webkit-text-stroke: 0.5px #fff;
    color: #fff;
  }
  47% {
    font-family: "Plain";
    -webkit-text-stroke: 0.5px #fff;
    color: #fff;
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
  }

  100% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
  }
}

#main {
  position: relative;
  background-color: black;
}
.page_1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}

.nav {
  padding: 2.5vw 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_part_2 {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.nav_part_2 h4 {
  font-family: "Plain";
  text-transform: capitalize;
  font-size: 0.9vw;
  font-weight: 300;
}
.site_info {
  padding: 5.5vw 27vw;
  position: relative;
}
.hero {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}
.hero_1 ::before{
  content: "01";
  font-size: 3.3vw;
  font-weight: 400;
  position: absolute;
  font-family: "Silk Serif";
  left:-18% ;
  top: -10%;
}
.hero h1,
.hero h2 {
  font-family: "Plain";
  text-transform: uppercase;
  font-size: 7.2vw;
  line-height: 8.5vw;
  font-weight: 500;
  position: relative;
}
.hero_3 h1:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
.page_2 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  padding: 8vw 30vw;
  position: relative;
}
.page_2 .container {
  height: 71vh;
  width: 69vw;
  position: relative;
}
.paly_button {
  height: 8.5vw;
  width: 8.5vw;
  background-color: #ffa63d;
  position: absolute;
  z-index: 8;
  border-radius: 50%;
  margin-top: -5%;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paly_button i {
  font-size: 1.6vw;
}
.container img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page_3 {
  min-height: 100vh;
  width: 100%;
  background-color: #462121;
  position: relative;
}
.page_4 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 5vh 0;
}
.brand_about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Plain";
  position: relative;
  width: 72vw;
  margin-left: 28vw;
}
.brand_about h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.brand_about h1::before{
  content: "03";
  font-size: 3.3vw;
  font-weight: 400;
  position: absolute;
  font-family: "Silk Serif";
  left:-15% ;
  top: 10%;
}
.brand_about > p {
  font-size: 2vw;
  width: 32vw;
}
.brand_about .extend {
  width: 100%;
  display: flex;
  margin-top: 2vw;
  gap: 1vw;
}
.extend img {
  width: 34vw;
}
.extend p {
  width: 20%;
  font-size: 0.8vw;
}
.about_awards {
  background-color: #3f7df4;
  width: 34vw;
  height: 68vh;
  padding: 5vh 3vw;
  position: relative;
  bottom: 10vh;
  right: -23vw;
}
.award {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 3.5vh 0;
}
.award h4 {
  font-size: 1.5vw;
  font-weight: 500;
}
.award p {
  font-size: 0.85vw;
  font-weight: 500;
  width: 40%;
}
.brand_about>h5{
  font-family: "Plain";
  font-size: 0.8vw;
  font-weight: 500;
  text-transform: capitalize;
}
.page_5 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 10vh 0;
  font-family: "Plain";
}
.page_5 .elm {
  white-space: nowrap;
  margin-bottom: -3vw;
}
.page_5 .elm2 {
  white-space: nowrap;
  margin-bottom: -3vw;
}
.page_5 .elm h1 {
  font-size: 7.5vw;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 16px;
  animation-name: page_5_anime;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.page_5 .elm2 h1 {
  font-size: 7.5vw;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 21px;
  transform: translateX(-100%);
  animation-name: page_5_anime;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.page_5 .elm h1 span {
  font-family: "Silk Serif";
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}
.page_5 .elm2 h1 span {
  font-family: "Silk Serif";
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}
@keyframes page_5_anime {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 25px));
  }
}
.footer {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 5vh 0;
  padding-left: 25%;
}
.footer h1 {
  font-size: 7vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Plain";
  position: relative;
}
.footer h1::before{
  content: "04";
  font-size: 3.3vw;
  font-weight: 400;
  position: absolute;
  font-family: "Silk Serif";
  left:-12% ;
  top: 10%;
}
.footer h1 i {
  font-size: 8vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Plain";
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.underline {
  width: 90%;
  height: 0.1vw;
  background-color: #fff;
  margin: 10vh 0;
}
.contact_info {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 18vw;
  padding-right: 10%;
}
.contact_info h6 {
  font-size: 0.8vw;
  font-weight: 500;
  font-family: "Plain";
  margin-bottom: 2.5vh;
}
.contact_info h5 {
  width: 80%;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Plain";
}
.footer>h5{
  font-family: "Plain";
  font-size: 0.8vw;
  font-weight: 500;
  text-transform: capitalize;
}