* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  overflow-x: hidden;
}
body {
  cursor: none;
}
.crsr {
  width: 2.2vw;
  height: 2.2vw;
  border: 1px solid #ffffff9d;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  z-index: 9999;
  padding: 10vw 7vw;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.txt-count {
  display: flex;
  gap: 1vw;
  margin-right: 5vw;
}
.txt-count h5,
h6 {
  font-size: 4vw;
  font-family: "Silk Serif";
  font-weight: 500;
}
.txt-count h5 {
  text-align: end;
  width: 7vw;
}
.txt h1 {
  font-family: "Plain";
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 7.5vw;
}
.txt h2 {
  font-family: "Plain";
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  animation-name: anime;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  line-height: 9vw;
  height: 9vw;
}

@keyframes anime {
  0% {
    font-family: "Plain";
    -webkit-text-stroke: 0.5px #fff;
    color: #fff;
  }
  47% {
    font-family: "Plain";
    -webkit-text-stroke: 0.5px #fff;
    color: #fff;
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
  }

  100% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
  }
}

#main {
  position: relative;
  background-color: #151515;
  overflow-x: hidden;
}
.page_1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}

.nav {
  width: 100%;
  padding: 2.5vw 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_part_2 {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.nav_part_2 h4 {
  font-family: "Plain";
  text-transform: capitalize;
  font-size: 0.9vw;
  font-weight: 300;
}
.site_info {
  padding: 5.5vw 27vw;
  position: relative;
}
.hero {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}
.hero_1 ::before {
  content: "01";
  font-size: 3.3vw;
  font-weight: 400;
  position: absolute;
  font-family: "Silk Serif";
  left: -18%;
  top: -50%;
}
.hero h1,
.hero h2 {
  font-family: "Plain";
  text-transform: uppercase;
  font-size: 7.2vw;
  line-height: 8.5vw;
  font-weight: 500;
  position: relative;
}
.hero_3 {
  z-index: 999;
}
.hero_3 h1 {
  border-bottom: 0.5vw solid #fff;
  margin-right: 1.5vw;
}
.hero_3 h1:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

#flag {
  width: 20vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.page_2 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  padding: 8vw 30vw;
  position: relative;
}
.page_2 .container {
  height: 71vh;
  width: 69vw;
  position: relative;
}
.paly_button {
  height: 8.5vw;
  width: 8.5vw;
  background-color: #ffa63d;
  position: absolute;
  z-index: 8;
  border-radius: 50%;
  margin-top: -5%;
  top: -15%;
  left: 85%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.paly_button i {
  font-size: 1.6vw;
}
.container img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page_3 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 3vw 2.5vw;
}
.page_3 h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  font-family: "Plain";
  text-transform: uppercase;
}
.page_3_header_div {
  height: fit-content;
  width: 72%;
  margin-left: 28vw;
}
.page_3 h1::before {
  content: "02";
  font-size: 3.3vw;
  font-weight: 400;
  position: absolute;
  font-family: "Silk Serif";
  left: -10%;
  top: 30%;
}
#iamge_div_container {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: flex-start;
  gap: 2.5vw;
  padding: 0 2vw;
  flex-wrap: wrap;
  position: relative;
}
.image_div {
  flex-shrink: 0;
  height: 60vh;
  width: 20vw;
  background-color: #3f7df4;
  position: relative;
}
.max_img_div {
  height: 90vh;
  width: 30vw;
}
.image_div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.show_case h2 {
  font-size: 2vw;
  font-family: "Plain";
  font-weight: 400;
  padding: 2.5vw 0;
}
.title_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0;
  border-bottom: 1px solid #fff;
}
.title_div h4,
h3 {
  font-size: 0.8vw;
  font-family: "Plain";
  font-weight: 400;
}
.title_div h4 {
  width: 60%;
}
.page_3_circle {
  height: 22vw;
  width: 22vw;
  border: 1px solid #fff;
  margin-top: 70vh;
  margin-left: 9vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page_3_circle svg {
  height: 10svw;
  width: 5vw;
}
.page_3_circle_2 {
  height: 22vw;
  width: 22vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page_3_circle_2 svg {
  height: 10svw;
  width: 5vw;
  rotate: -45deg;
}
.circle_over {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle_over p {
  font-size: 0.8vw;
  font-family: "Plain";
  font-weight: 400;
  color: black;
  width: 80%;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.4s;
  text-align: center;
}
.page_3_circle:hover .circle_over {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.page_3_circle:hover .circle_over > p {
  opacity: 1;
}
.page_3_circle_2:hover .circle_over {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.page_3_circle_2:hover .circle_over > p {
  opacity: 1;
}
.page_4 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 5vh 0;
}
.brand_about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Plain";
  position: relative;
  width: 72vw;
  margin-left: 28vw;
}
.brand_about h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.brand_about h1::before {
  content: "03";
  font-size: 3.3vw;
  font-weight: 400;
  position: absolute;
  font-family: "Silk Serif";
  left: -15%;
  top: 10%;
}
.brand_about > p {
  font-size: 2vw;
  width: 32vw;
}
.brand_about .extend {
  width: 100%;
  display: flex;
  margin-top: 2vw;
  gap: 1vw;
}
.extend img {
  width: 34vw;
}
.extend p {
  width: 20%;
  font-size: 0.8vw;
}
.about_awards {
  background-color: #3f7df4;
  width: 34vw;
  height: 68vh;
  padding: 5vh 3vw;
  position: relative;
  bottom: 10vh;
  right: -23vw;
}
.award {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 3.5vh 0;
}
.award h4 {
  font-size: 1.5vw;
  font-weight: 500;
}
.award p {
  font-size: 0.85vw;
  font-weight: 500;
  width: 40%;
}
.brand_about > h5 {
  font-family: "Plain";
  font-size: 0.8vw;
  font-weight: 500;
  text-transform: capitalize;
}
.page_5 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 10vh 0;
  font-family: "Plain";
}
.page_5 .elm {
  white-space: nowrap;
  margin-bottom: -3vw;
}
.page_5 .elm2 {
  white-space: nowrap;
  margin-bottom: -3vw;
}
.page_5 .elm h1 {
  font-size: 7.5vw;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 16px;
  animation-name: page_5_anime;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.page_5 .elm2 h1 {
  font-size: 7.5vw;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 21px;
  transform: translateX(-100%);
  animation-name: page_5_anime;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.page_5 .elm h1 span {
  font-family: "Silk Serif";
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}
.page_5 .elm2 h1 span {
  font-family: "Silk Serif";
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}
@keyframes page_5_anime {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 25px));
  }
}
.footer {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 5vh 0;
  padding-left: 25%;
}
.footer_head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  height: 22vh;
  cursor: pointer;
}
.footer h1 {
  font-size: 7vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Plain";
  position: relative;
}
.footer h1::before {
  content: "04";
  font-size: 3.3vw;
  font-weight: 400;
  position: absolute;
  font-family: "Silk Serif";
  left: -12%;
  top: 10%;
}
.footer i {
  font-size: 8vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Plain";
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.underline {
  width: 90%;
  height: 0.1vw;
  background-color: #fff;
  margin: 10vh 0;
}
.contact_info {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 18vw;
  padding-right: 10%;
}
.contact_info h6 {
  font-size: 0.8vw;
  font-weight: 500;
  font-family: "Plain";
  margin-bottom: 2.5vh;
}
.contact_info h5 {
  width: 80%;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Plain";
}
.footer > h5 {
  font-family: "Plain";
  font-size: 0.8vw;
  font-weight: 500;
  text-transform: capitalize;
}
._canvas_container {
  z-index: 9999999 !important;
}
@media (max-width: 600px) {
  .page_1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
  }
  /* #151515 */
  .nav {
    padding: 4vw 4vw;
    justify-content: flex-end;
  }
  .nav_part_2 {
    display: none;
  }
  .site_info {
    padding: 30vh 5vw;
  }
  .hero_1 ::before {
    font-size: 5vw;
    left: 0%;
    top: -85%;
  }
  .hero h1,
  .hero h2 {
    font-size: 9vw;
    line-height: 9vw;
  }
  .hero_3 h1 {
    border-bottom: 0.7vw solid #fff;
  }
  .hero_3 h1:hover {
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
  }

  #flag {
    width: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
  }
  .page_2 {
    height: fit-content;
    width: 100%;
    padding: 8vw 0vw;
  }
  .page_2 .container {
    height: 30vh;
    width: 100vw;
    position: relative;
  }
  .paly_button {
    height: 15vw;
    width: 15vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .paly_button i {
    font-size: 3.5vw;
  }
  .page_3 {
    padding: 5vh 5vw;
    padding-bottom: 0;
  }
  .page_3 h1 {
    font-size: 9vw;
  }
  .page_3_header_div {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
  }
  .page_3 h1::before {
    font-size: 5vw;
    left: 0%;
    top: -85%;
  }
  .underline {
    width: 100%;
    height: 0.1vw;
    background-color: #fff;
    margin: 2vh 0;
  }
  #iamge_div_container {
    display: block;
    padding: 0;
    width: 100;
  }
  .image_div {
    height: 50vh;
    width: 100%;
  }
  .max_img_div {
    height: 50vh;
    width: 100%;
  }
  .show_case h2 {
    font-size: 5vw;
    padding: 5vw 0;
  }
  .title_div {
    padding: 5vw 0;
  }
  .title_div h4,
  h3 {
    font-size: 3vw;
  }
  .page_3_circle {
    display: none;
  }
  .page_3_circle svg {
    height: 10svw;
    width: 5vw;
  }
  .page_3_circle_2 {
    display: none;
  }
  .page_4 {
    padding: 8vh 5vw;
    padding-bottom: 0;
  }
  .brand_about {
    width: 100%;
    margin-left: 0;
  }
  .brand_about h1 {
    font-size: 9vw;
  }
  .brand_about h1::before {
    font-size: 5vw;
    left: 0%;
    top: -85%;
  }
  .brand_about > p {
    font-size: 5vw;
    width: 90%;
    margin-top: 4.5vh;
  }
  .brand_about .extend {
    width: 100%;
    display: block;
    margin-top: 0;
  }
  .extend img {
    width: 100%;
    margin: 2vh 0;
  }
  .extend p {
    width: 90%;
    font-size: 3.5vw;
  }
  .about_awards {
    width: 100%;
    height: fit-content;
    padding: 1vh 5vw;
    padding-bottom: 5vh;
    bottom: 0;
    right: 0;
    margin-top: 3.5vh;
    margin-bottom: 6vh;
  }
  .award {
    border-bottom: 1px solid #fff;
    padding: 3vh 0;
  }
  .award h4 {
    font-size: 3.5vw;
    font-weight: 500;
  }
  .award p {
    font-size: 2.5vw;
  }
  .brand_about > h5 {
    font-size: 3vw;
  }
  .page_5 {
    min-height: 40vh;
    padding: 5vh 0;
  }
  .page_5 .elm h1 {
    font-size: 5vh;
    -webkit-text-stroke:1px #fff;
  }
  .page_5 .elm2 h1 {
    font-size: 5vh;
    -webkit-text-stroke:1px #fff;
  }
  .footer {
    min-height: 70vh;
    padding: 5vh 5vw;
  }
  .footer_head {
    background-color: red;
    height: 5vh;
  }
  .footer h1 {
    font-size: 9vw;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Plain";
    position: relative;
  }
  .footer h1::before {
    font-size: 5vw;
    left: 0%;
    top: -85%;
  }
  .footer i {
    font-size: 10vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Plain";
    color: transparent;
    -webkit-text-stroke: 0.3px #fff;
  }
  .footer .underline {
    width: 100%;
    margin: 3vh 0;
  }
  .contact_info {
    width: 100%;
    flex-direction: column;
    gap: 10vw;
    padding-right: 0;
  }
  .contact_info h6 {
    font-size: 4vw;
    font-weight: 400;
    margin: 2.5vh 0;
  }
  .contact_info h5 {
    width: 80%;
    font-size: 5vw;
    font-weight: 400;
  }
  .footer > h5 {
    font-family: "Plain";
    font-size: 3.5vw;
    font-weight: 500;
    text-transform: capitalize;
  }
  ._canvas_container {
    z-index: 9999999 !important;
  }
}
